<a href="https://colab.research.google.com/github/sam83045/pyLearn/blob/main/function_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to colab**

In [ ]:
a = 'python'

In [ ]:
# cell : to execute the cell press shift+enter
print('hello good evening')

hello good evening

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
a.upper()

'PYTHON'

# Function: A Block of code which we write ones and calls it multiple times

While creating function
- Declaration of a function
- Calling of a function

In [ ]:
# declaration==> syntax
# def function_name():
    #process

def sample():
  print('Process initiated')

In [ ]:
# calling of a function: bringing a function into a memory
# calling means execution of a function
sample()

Process initiated

In [ ]:
sample()
sample()

Process initiated
Process initiated

In [ ]:
# advantage of a function is Code reusability
# function can also contain arguments
# ex. def add(num1,num2)

def add(num1,num2):
  print('Addition is:',num1+num2)

add(20,40)

Addition is: 60

In [ ]:
add(89,77)

Addition is: 166

# Types of arguments:
- Positional
- Keyword
- Default
- Variable length

In [ ]:
# Positional args: means order of an element/object matters in this case
def display(name,age,sal):
  print('Name is:',name)
  print('Age is:',age)
  print('Salary is:',sal)

display('Kiran',22,56000)

Name is: Kiran
Age is: 22
Salary is: 56000

In [ ]:
# if we change sequence
display(23000,45,'Amy')

Name is: 23000
Age is: 45
Salary is: Amy

In [ ]:
# we can solve above problem using Keyword args
display(sal=23000,age=45,name='Amy')

Name is: Amy
Age is: 45
Salary is: 23000

In [ ]:
display('Shoaib',32)

TypeError: ignored

In [ ]:
# Rule:
# -  in declaration if we have 3 args then we must have to pass 3 values (no less no more accepted)
#display('AA')
display('AD',23,56000,'Pune')

TypeError: ignored

In [ ]:
def add(sal1,sal2):
  #print(sal1+sal2)
  return sal1+sal2
add(16000,40000)

56000

In [ ]:
display('Ashish',22,add(1000,2000))

Name is: Ashish
Age is: 22
Salary is: 3000

In [ ]:
# Default args: in declaration we can set some args with default value
def account(name='Guest',branch='Katraj',bank='SBI'):
  print(name,bank,branch)

account()

Guest SBI Katraj

In [ ]:
# instead of default i want new values
account('Viraj','Swargate','BOI')

Viraj BOI Swargate

In [ ]:
# can we supply only name
account('Viraj')

Viraj SBI Katraj

In [ ]:
# Variable length argument:
# When count of number of args we are going to supply in a functionis not fixed one
# then use variable length args
#- It contains 2 types
  # Var. len. positional args (*args)
  # Var. len. Keyword args (**kwargs)

def info(*args):
  print('Details',args)

info()
info('A',23,45000,'Pune',411001)
info('B','Sangli')

Details ()
Details ('A', 23, 45000, 'Pune', 411001)
Details ('B', 'Sangli')

In [ ]:
def info(**kwargs):
  print('Details:',kwargs)

info()
info(name='Akash',place='Mumbai',pin = 3434)

Details: {}
Details: {'name': 'Akash', 'place': 'Mumbai', 'pin': 3434}

In [ ]:
# Q. *args vs **kwargs